@{
    ViewData["Title"] = "Products";
}
<div class="main-content">
    <!-- Page Title Start -->
    <div class="row">
        <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-title-wrapper">
                <div class="page-title-box ad-title-box-use">
                    <h4 class="page-title">Products</h4>
                </div>
                <div class="ad-breadcrumb">
                    <ul>
                        <li>
                            <div class="ad-user-btn">
                                <input class="form-control" type="text" placeholder="Search Here..." id="text-input">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.966 56.966">
                                    <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
												s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
												c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
												s-17-7.626-17-17S14.61,6,23.984,6z"></path>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="add-group">
                                <a class="ad-btn" onclick="OpenNewModel()">New Product</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Start -->
    <div class="row">
        <!-- Styled Table Card-->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card table-card">
                <div class="card-header pb-0">
                    <h4>Recent Products</h4>
                </div>
                <div class="card-body">
                    <table id="dtProducts" class="table table-striped table-bordered dt-responsive nowrap" style=" width: 100%;table-layout: fixed !important;word-wrap: break-word;">
                        <thead>
                            <tr>
                                <th style="width:10%">Id</th>
                                <th style="width:30%">Title</th>
                                <th style="width:20%">Brand</th>
                                <th style="width:10%">CreatedAt</th>
                                <th style="width:15%">Stock</th>
                                <th style="width:10%">Price</th>
                                <th style="width:5%">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section AppModals{
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">New Product</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="productForm">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-group">
                                    <label class="col-form-label">Name</label>
                                    <input required="required" id="Title" class="form-control required" type="text" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Price</label>
                                    <input required="required" id="Price" class="form-control required" type="number" placeholder="Price">
                                </div>
                                <div class="form-group hide">
                                    <label class="col-form-label">Batch Number</label>
                                    <input id="BatchNumber" class="form-control" type="text" placeholder="Batch Number">
                                </div>
                                <div class="form-group hide">
                                    <label class="col-form-label">Quantity</label>
                                    <input id="Quantity" class="form-control" type="number" placeholder="Quantity">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Discount</label>
                                    <input id="Discount" class="form-control" type="number" placeholder="Discount(%)">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Max Per Order</label>
                                    <input id="MaxPerOrder" class="form-control" type="number" placeholder="0 or any number">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-group s-opt">
                                    <label for="city" class="col-form-label">Brand</label>
                                    <select required="required" id="BrandId" class="select2 form-control required select-opt" id="city">
                                        <option value="1">Alaska</option>
                                        <option value="2">Hawaii</option>
                                        <option value="3">California</option>
                                        <option value="4">Nevada</option>
                                        <option value="5">Oregon</option>
                                        <option value="6">Washington</option>
                                    </select>
                                    <span class="sel_arrow">
                                        <i class="fa fa-angle-down "></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Bar Code</label>
                                    <input id="BarCode" class="form-control" type="text" placeholder="Bar Code">
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Image</label>
                                    <input id="Image" onchange="fileInputChange(this)" accept="image/png, image/gif, image/jpeg, image/webp" class="form-control" type="file" placeholder="Price">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Min Stock Warning</label>
                                    <input id="MinWarningLimit" class="form-control" type="number" placeholder="0 or any number">
                                </div>
                            </div>
                            <input type="hidden" id="ProductId" />
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="additional-msg" class="col-form-label">Summary</label>
                                    <textarea id="Summary" class="form-control" placeholder="Product Summary"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                <img id="preview" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SaveItem()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addInventoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addInventoryModelTitle">Purchase for </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="InventoryForm">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label for="SupplierId" class="col-form-label">Supplier</label>
                                <select required="required" id="SupplierId" class="select2 form-control required select-opt">
                                </select>

                                <div class="form-group">
                                    <label class="col-form-label">Quantity</label>
                                    <input required="required" id="InventoryQuantity" class="form-control required" type="number" placeholder="Quantity">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="col-form-label">Price</label>
                                    <input required="required" id="InventoryPrice" class="form-control required" type="number" placeholder="Price">
                                
                                    <label class="col-form-label">Batch Number</label>
                                    <input required="required" id="InventoryBatchNumber" class="form-control required" type="text" placeholder="Batch Number">
                                
                            </div>
                            <input type="hidden" id="InventoryProductId" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SaveInventoryItem()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        var Brands = @Html.Raw(Json.Serialize(@ViewBag.Brands));
        var dtProducts = null;
        var EditObject = null;

        $(document).ready(function () {
            LoadAll();
            $('#BrandId').empty();
            if (Brands != null) {
                Brands.forEach(function (entry) {
                    $('#BrandId').append('<option value="' + entry.brandId + '">' + entry.title + '</option>')
                });
            }
            LoadAllSupplier();
            $('#text-input').keyup(function () {
                dtProducts.search($(this).val()).draw();
            });
        });

        function LoadAll() {
            var host = window.location;
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/Product/GetAllPrdocuts',
                success: function (data) {
                    BindDataTable(data);
                },
                error: function (result) {
                }
            });
        }

        function LoadAllSupplier() {
            var host = window.location;
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/Supplier/GetAll',
                success: function (data) {
                    data.forEach(function (entry) {
                        $('#SupplierId').append('<option value="' + entry.UserId + '">' + entry.UserFirstName + " " + entry.UserLastName + '</option>')
                    });
                    $('#SupplierId').select2({
                        dropdownParent: $("#addInventoryModel")
                    });
                },
                error: function (result) {
                    $('#SupplierId').select2({
                        dropdownParent: $("#addInventoryModel")
                    });
                }
            });
        }

        function BindDataTable(data) {
            if (dtProducts != null)
                dtProducts.destroy();
            dtProducts = $('#dtProducts').DataTable({
                dom: "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'i><'col-sm-8'p>>",
                data: data,
                order: false,
                autoWidth: false,
                pageLength: 9,
                rowId: "ProductId",
                columns: [
                    {
                        data: "BatchNumber",
                        "orderable": false,
                        class: "no-sort",
                        "searchable": true,
                        render: function (data, type, row, meta) {
                            return '<div class="text-primary">' + row.ProductId + '</div>';
                        }
                    },
                    {
                        data: "Title",
                        "orderable": false,
                        class: "no-sort text-truncate",
                        "searchable": true
                    },
                    {
                        "searchable": true,
                        data: "BrandId",
                        class: "no-sort text-truncate",
                        "orderable": false,
                        render: function (data, type, row, meta) {
                            return GetBrandById(row.BrandId);
                        }
                    },
                    {
                        "searchable": false,
                        data: null,
                        class: "no-sort",
                        "orderable": false,
                        render: function (data, type, row, meta) {
                            if (row.CreatedAt != null) {
                                var dateOriginal = new Date(row.CreatedAt);
                                var formattedDate = moment(dateOriginal).format('DD MMM YYYY');
                                return formattedDate;
                            }
                        }
                    },
                    {
                        "searchable": false,
                        data: null,
                        class: "no-sort",
                        "orderable": false,
                        render: function (data, type, row, meta) {
                            var html = '';
                            if (row.Quantity > 0) {
                                html = '<label class="mb-0 badge badge-success toltiped">' + row.Quantity+' items</label>';
                            }
                            else {
                                html= '<label class="mb-0 badge badge-danger toltiped">Out of Stock</label>';
                            }
                            return html +'<button onclick="OpenInventoryModal(this)" type="button" class="btn btn-info btn-add">+</button>';
                        }
                    },
                    {
                        "searchable": false,
                        data: null,
                        class: "no-sort",
                        "orderable": false,
                        render: function (data, type, row, meta) {
                            if (row.Price != null && row.Price>0) {
                                return 'Rs ' + row.Price;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        data: null,
                        "searchable": false,
                        class: "no-sort text-center",
                        "orderable": false,
                        render: function (data, type, row, meta) {
                            var html = '<div class="relative"><a class="action-btn" href="javascript:void(0);"> <svg class="default-size " viewBox="0 0 341.333 341.333 "> <g> <g> <g> <path d="M170.667,85.333c23.573,0,42.667-19.093,42.667-42.667C213.333,19.093,194.24,0,170.667,0S128,19.093,128,42.667 C128,66.24,147.093,85.333,170.667,85.333z "></path> <path d="M170.667,128C147.093,128,128,147.093,128,170.667s19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 S194.24,128,170.667,128z "></path> <path d="M170.667,256C147.093,256,128,275.093,128,298.667c0,23.573,19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 C213.333,275.093,194.24,256,170.667,256z "></path> </g> </g> </g> </svg> </a> <div class="action-option"> <ul> <li> <a onclick="EditItem(this)" href="javascript:void(0);"><i class="far fa-edit mr-2"></i>Edit</a> </li> <li> <a href="javascript:void(0);" onclick="DeleteItem(' + row.ProductId + ')"><i class="far fa-trash-alt mr-2"></i>Delete</a> </li> </ul> </div></div>';
                            return html;
                        }
                    }
                ]
            });
        }

        function OpenNewModel() {
            $('#ProductId').val('');
            $('#Title').val('');
            $('#BrandId').val('');
            $('#Summary').val('');
            $('#BarCode').val('');
            $('#BatchNumber').val('');
            $('#Quantity').val('');
            $('#Price').val('');
            $('#Discount').val('');
            $('#MaxPerOrder').val('');
            $('#MinWarningLimit').val('');
            $("#exampleModalLong").modal("show");
        }

        function EditItem(element) {
            var data = dtProducts.row($(element).parents('tr')).data();
            $('#ProductId').val(data.ProductId);
            $('#Title').val(data.Title);
            $('#BrandId').val(data.BrandId);
            $('#Summary').val(data.Summary);
            $('#BarCode').val(data.BarCode);
            $('#BatchNumber').val(data.BatchNumber);
            $('#Quantity').val(data.Quantity);
            $('#Price').val(data.Price);
            $('#Discount').val(data.Discount);
            $('#MaxPerOrder').val(data.MaxPerOrder);
            $('#MinWarningLimit').val(data.MinWarningLimit);
            $('#preview').attr('src', '/uploads/' + data.ProductId + '/' + data.Image);
            $("#exampleModalLong").modal("show");
        }

        function DeleteItem(id) {
            var host = window.location;
            $.ajax({
                url: host.protocol + "//" + host.host + '/Product/Delete?id=' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                success: function (json) {
                    LoadAll();
                },
                error: function (result) {

                }
            });
        }

        function fileInputChange(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        function SaveItem() {
            if (CheckRequired($('#productForm'))) {
                var ProductInfo = {
                    ProductId: $('#ProductId').val(),
                    Title: $('#Title').val(),
                    BrandId: $('#BrandId').val(),
                    Summary: $('#Summary').val(),
                    BarCode: $('#BarCode').val(),
                    BatchNumber: $('#BatchNumber').val(),
                    Quantity: $('#Quantity').val(),
                    Price: $('#Price').val(),
                    Discount: $('#Discount').val(),
                    MaxPerOrder: $('#MaxPerOrder').val(),
                    MinWarningLimit: $('#MinWarningLimit').val()
                };
                var file = document.getElementById("Image").files[0];
                var formData = new FormData();
                formData.append('ProductId', ProductInfo.ProductId);
                formData.append('Title', ProductInfo.Title);
                formData.append('BrandId', ProductInfo.BrandId);
                formData.append('Summary', ProductInfo.Summary);
                formData.append('BarCode', ProductInfo.BarCode);
                formData.append('BatchNumber', ProductInfo.BatchNumber);
                formData.append('Quantity', ProductInfo.Quantity);
                formData.append('Price', ProductInfo.Price);
                formData.append('Discount', ProductInfo.Discount);
                formData.append('MaxPerOrder', ProductInfo.MaxPerOrder);
                formData.append('MinWarningLimit', ProductInfo.MinWarningLimit);
                formData.append('MedLogo', file);
                $.ajax({
                    url: '/Product/Save',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (result) {
                        $("#exampleModalLong").modal("hide");
                        LoadAll();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert('Please fill all required fields!');
            }
        }

        function CheckRequired($element) {
            var $form = $element;

            if ($form.find('.required').filter(function () { return this.value === '' }).length > 0) {
                return false;
            }
            return true;
        }

        function GetBrandById(id) {
            var brandname = "";
            if (Brands != null) {
                Brands.forEach(function (entry) {
                    if (entry.brandId == id) {
                        brandname=entry.title;
                    }
                });
            }
            return brandname;
        }

        function OpenInventoryModal(element) {
            var data = dtProducts.row($(element).parents('tr')).data();
            $('#InventoryProductId').val(data.ProductId);
            $('#addInventoryModelTitle').text("Purchase for " + data.Title);
            $('#InventoryBatchNumber').val('');
            $("#addInventoryModel").modal("show");
        }

        function SaveInventoryItem() {
            var InventoryInfo = {
                ProductId: $('#InventoryProductId').val(),
                Quantity: $('#InventoryQuantity').val(),
                SupplierId: $('#SupplierId').val(),
                BatchNumber: $('#InventoryBatchNumber').val(),
                Price: $('#InventoryPrice').val()
            };
            var formData = new FormData();
            formData.append('ProductId', InventoryInfo.ProductId);
            formData.append('SupplierId', InventoryInfo.SupplierId);
            formData.append('Quantity', InventoryInfo.Quantity);
            formData.append('Price', InventoryInfo.Price);
            formData.append('BatchNumber', InventoryInfo.BatchNumber);
            $.ajax({
                url: '/Inventory/Save',
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    $("#addInventoryModel").modal("hide");
                    LoadAll();
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }

    </script>
}